{% extends "base/base.html" %}

{% block title %}
  Detalles de la Ciudad
{% endblock title %}

{% block content %}
  <h2>{{ ciudad.nombre }}</h2>
  <p>Esta es la Ciudad {{ ciudad.nombre }}.</p>
  <a href="{% url 'nfl:list_ciudades' %}" class="btn btn-secondary">Volver a la lista de Ciudades</a>
{% endblock content %}
