{% extends "base/base.html" %}

{% block title %}
  Lista de Jugadores
{% endblock title %}

{% block content %}
  <table class="table table-hover">
    <thead>
      <th>ID</th>
      <th>Nombre</th>
      <th>Acciones</th>
    </thead>
    <tbody>
      <a href="{% url 'nfl:create_jugador' %}" class="btn btn-success">Crear Jugador</a>
      {% for jugador in jugadores %}
        <tr>
          <td>{{ jugador.id }}</td>
          <td>{{ jugador.nombre }}</td>
          <td>
            <a href="{% url 'nfl:detail_jugador' jugador.id %}" class="btn btn-info">Detalles</a>
            <a href="{% url 'nfl:update_jugador' jugador.id %}" class="btn btn-warning">Editar</a>
            <a href="{% url 'nfl:delete_jugador' jugador.id %}" class="btn btn-danger">Eliminar</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
